<div class="w">
    <div class="nav-container">
        <img class="logo_img" src="../../image/logo/img_user_default.jpg" />
        <div class="logo" id="logo"><p class="logo_text">EOLIKER</p></div>
        <button type="button" id="shrink-btn" class="shrink-btn" ">
            <i class="fa fa-columns"></i>
            <span class="space-name ng-binding">收缩</span>
        </button>
        <span class="userInfo">
            <span class="user not-login">
                <span class="link js-login" id="js-login">登录</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link logout" id="logout">退出</span>
            </span>
        </span>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>
<!-- <script src="../../../node_modules/markdown/lib/markdown.js"></script> -->